<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>

    <add key="mailsubjectPrefix" value="[R-monitor]"/>
    <add key="enableSendMailWhenError" value="true"/>
    <add key="sleepSecs" value="30"/>
    <!-- Default request timeout, can be overwrite by timeout querystring.  e.g. ?timeout=1000 -->
    <add key="requestTimeout" value="5000"/>
    <add key="saveLiveLog" value="false"/>
    <add key="from" value="richard_han@trend.com.tw"/>
    <add key="receivers" value="richard_han@trend.com.tw;qwweee7467@gmail.com"/>
    <add key="smtpHost" value="sjdcrelay.trendmicro.com"/>
    <add key="connectDBTimeout" value="3"/>


    <!-- ==========================   DB   ========================== -->
    <!-- DB Query Sample-->

    <!--<add key="connectionsandCommands" value="Data Source=tw-sptdevdb;Initial Catalog=OHCUmbracoV2;user id=ohcUser;password=ohcPass,select top 100 * from cmsContentXml
         |||||
         Server=tw-sptdevdb;Database=OHCUmbracoV2;Persist Security Info=True;Integrated Security=True;,select top 100 * from cmsContentXml"/>-->

    <!--<add key="connectionsandCommands" value="Data Source=tw-sptdevdb;Initial Catalog=OHCUmbracoV2;user id=ohcUser;password=ohcPass,select top 100 * from cmsContentXml
         |||||
         Data Source=SJDC-SPTDB01S;Database=OHCUmbraco;Persist Security Info=True;Integrated Security=True;,select top 1000 * from cmsContentXml|||||Data Source=sjdc-baprtldb.us.trendnet.org;Initial Catalog=OHCUmbracoV2;Persist Security Info=True;Integrated Security=True;,select top 1000 * from cmsContentXml"/>-->

    <!-- PROD -->
    <!--<add key="connectionsandCommands" value="
         Data Source=SJDC-SPTDB01S;Database=OHCUmbraco;Persist Security Info=True;Integrated Security=True;,select top 2000 * from cmsContentXml
         |||||
         Data Source=SJDC-AIMSHDB08.US.TRENDNET.ORG;Initial Catalog=OHCUmbracoV2;Persist Security Info=True;Integrated Security=True;,select top 2000 * from cmsContentXml"/>-->

    <add key="connectionsandCommands" value="
         Data Source=tw-sptdevdb;Initial Catalog=OHCUmbracoV2;user id=ohcUser;password=ohcPass,select top 200 * from cmsContentXml
         |||||
         Data Source=SJDC-SPTDB01S;Database=OHCUmbraco;Persist Security Info=True;Integrated Security=True;,select top 200 * from cmsContentXml"/>

    <!-- ==========================   URL   ========================== -->
    <!-- URLs Samples -->
    <add key="URLs" value="
        http://10.64.202.100:8080/rest/android_report.json?sha1=000001F05B71356CF286AEACF4ADB43D18F46DFC%26userName=TMMS61%26timeout=10000(@)
        http://sjdc-docsweb01s.us.trendnet.org/en-us/consumer/trend-micro-titanium.aspx?timeout=5000(@)
        http://sjdc-docsweb02s.us.trendnet.org/en-us/consumer/trend-micro-titanium.aspx?timeout=5000(@)
        http://sjdc-docsweb02.us.trendnet.org/en-us/consumer/trend-micro-titanium.aspx?timeout=5000(@)
        http://sjdc-docsweb03.us.trendnet.org/en-us/consumer/trend-micro-titanium.aspx?timeout=5000(@)
        http://sjdc-docsweb04.us.trendnet.org/en-us/consumer/trend-micro-titanium.aspx?timeout=5000(@)
        http://doc.ntte-flets.trendmicro.com/virusclear/7/docs/TE50/JA-JP/001001/?timeout=5000(@)
        http://origin-docs.trendmicro.com/en-us/consumer/trend-micro-titanium.aspx?timeout=5000(@)
        https://mars.trendmicro.com/home.aspx?timeout=5000(@)
        http://sjdc-marsweb01.us.trendnet.org/home.aspx?timeout=5000(@)
        http://sjdc-marsweb02.us.trendnet.org/home.aspx?timeout=5000(@)
        http://sjdc-marsweb03.us.trendnet.org/home.aspx?timeout=5000(@)
        http://sjdc-marsweb11.us.trendnet.org/home.aspx?timeout=5000(@)
        http://marsadm.trendmicro.com/home.aspx?timeout=5000(@)
        https://stgmars.trendmicro.com/home.aspx?timeout=5000(@)
        http://stgmarsadm.trendmicro.com/home.aspx?timeout=5000"/>

    <add key="temo_URLs" value="
        http://sjdc-docsweb01s.us.trendnet.org/en-us/consumer/trend-micro-titanium.aspx?timeout=3000(@)
        http://sjdc-docsweb02s.us.trendnet.org/en-us/consumer/trend-micro-titanium.aspx?timeout=3100(@)
        http://doc.ntte-flets.trendmicro.com/virusclear/7/docs/TE50/JA-JP/001001/?timeout=3200(@) 
        http://origin-docs.trendmicro.com/en-us/consumer/trend-micro-titanium.aspx?timeout=3300(@)
        https://mars.trendmicro.com/home.aspx"/>

  </appSettings>

  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\MailPickup"/>
      </smtp>-->
    </mailSettings>
  </system.net>
</configuration>
